<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<i class="material-icons">favorite</i>
<i class="material-icons">attachment</i>
<i class="material-icons">computer</i>
<i class="material-icons">traffic</i>

<h2>Courses</h2>

<div *ngFor="let course of Kursy, index as kursId" class="zebra">

     <h3>
      <a [title]="course.name + ' details'">
        {{ course.name }}
      </a>

    <button (click)="show(kursId)">
      Show <i class="material-icons">{{course.sym}}</i>
    </button>
    </h3>
<app-course-details></app-course-details>    
<div *ngIf="check(kursId)">
  <h2>Punkty ETCS: {{course.etcs}} </h2>
  <h2>Typ zajęć: {{course.ClassType}} </h2>
  <h2>Maksymalna liczba studentów: {{course.maxStudents}} </h2>
  <h2>Ocena: {{course.rate}} </h2>
  <h2>Ikona: <i class="material-icons">{{course.sym}}</i> </h2>
  <p *ngIf="course.description">
    Description: {{ course.description }}
  </p>
</div>
</div>
